html, body {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
#topTrump {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftSide, #rightSide {
    height: 100vh;
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.card {
    height: 50%;
    width: 45%;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemonImg {
    height: 60%;
    width: 100%;
    background-color: aqua;
}

.pokemonAttributes {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.pokemonAttributes p {
    margin: 2px;
}