html, body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/pokemonBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(42, 157, 143, 0.6);
}
h1 {
    text-align: center;
    background-color: rgba(233, 196, 106, 0.3);
    margin: 0;
    padding: 10px;
}
#instruction {
    text-align: center;
    background-color: rgba(233, 196, 106, 0.3);
    margin: 0;
    padding: 10px;
}

#topTrump {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#leftSide, #rightSide {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.card {
    height: 50%;
    width: 45%;
    background-color: rgba(233, 196, 106, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 black;
}

.pokemonImg {
    height: 60%;
    width: 100%;
    background-color: rgb(231, 111, 81);
    background-position: center center;
    background-repeat: no-repeat;

}

.pokemonAttributes {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pokemonAttributes p {
    margin: 2px;
}
#buttons {
    position: relative;
    right: 50%;
    width: 15%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
button {
    width: 150px;
    height: 50px;
    background-color: rgba(231, 111, 81, 0.8);
    border: 1px solid rgb(231, 111, 81);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 black;
    font-size: 1.2em;
}
#whoHasTurn {
    text-align: center;
}
button:active {
    background-color:  rgba(231, 111, 81, 1);
}

p:active {
    background-color: rgb(231, 111, 81);
    font-size: 1.1em;
}
@media (max-width:900px) {
    .card {
        height: 50%;
        width:75%;
    }
    button {
        width: 80px;
        height: 30px;
        font-size: 1.2em;

    }


}
@media (max-width:414px) {
    .card {
        height: 50%;
        width:95%;
    }
    button {
        width: 50px;
        height: 20px;
        font-size: 1.2em;

    }
    #buttons {
        top: 33%;
    }


}